.fields {
	display: flex;
	gap: 30px;
	padding-left: 0px;
	padding-bottom: 94px;
	list-style: none;
	margin: 0;
}

.fields__images {
	position: relative;
	height: 294px;
	width: 370px;
}

.fields__info {
	position: absolute;
	width: 370px;
	height: 70px;
	background-image: $bg-image-fields-info;
	bottom: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	text-align: center;
	padding-top: 27px;
	margin: 0;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $color-ffffff;
}
