.newsletter {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 12px;
}

.newsletter__label {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 72px;
}

.newsletter__heading {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $color-ffffff;
}

.newsletter__input {
	width: 358px;
	height: 50px;
	border: 1px solid $color-rgba-255-255-255-0_3;
	filter: $filter;
	border-radius: 4px;
	background-color: inherit;
	font-size: 16px;
	line-height: 1.25px;
	letter-spacing: 0.03em;
	color: $color-ffffff;
	padding-left: 16px;
	outline-color: $color-2196f3;
	transition: outline-color $transition-250ms-cubic-bezier-0_4-0-0_2-1;

	&::placeholder {
		font-size: 16px;
		line-height: 1.25px;
		letter-spacing: 0.03em;
		color: $color-rgba-255-255-255-0_6;
	}
}

.newsletter__input:hover {
	border-color: $color-2196f3;
	transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
}

.newsletter__input:focus {
	border-color: $color-2196f3;
	transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
}

.newsletter__btn {
	width: 200px;
	height: 50px;
	background-color: $color-2196f3;
	color: $color-fff;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	display: flex;
	align-items: center;
	gap: 24px;
	text-align: center;

	letter-spacing: 0.06em;
	border: none;
	justify-content: center;

	cursor: pointer;

	&:hover {
		box-shadow: $box-shadow-newlsetter__btn;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
	&:focus {
		box-shadow: $box-shadow-newlsetter__btn;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
}
