.portfolio__menu-buttons {
	text-align: center;
}

.portfolio__menu-buttons--space {
	display: inline-flex;
	gap: 8px;
	padding-top: 94px;
	padding-bottom: 50px;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

.portfolio__button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6em;
	text-align: center;
	letter-spacing: 0.03em;
	color: $color-212121;
	background: $color-f5f4fa;
}

.portfolio__button-all {
	width: 121px;
	height: 38px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	&:hover {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
	&:focus {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
}

.portfolio__button-pages {
	width: 93px;
	height: 38px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	&:hover {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
	&:focus {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
}

.portfolio__button-apps {
	width: 114px;
	height: 38px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	&:hover {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
	&:focus {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
}

.portfolio__button-design {
	width: 114px;
	height: 38px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	&:hover {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
	&:focus {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
}

.portfolio__button-marketing {
	width: 121px;
	height: 38px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	&:hover {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
	&:focus {
		color: $color-ffffff;
		background-color: $color-2196f3;
		box-shadow: $box-shadow-portfolio-button;
		transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
	}
}

.portfolio__flex-grid-3 {
	display: flex;

	flex-basis: calc((100% - 90px) / 3);
	flex-wrap: wrap;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 94px;
	margin-top: 0px;
	margin-bottom: 0px;

	list-style: none;
}

.portfolio__hidden-card:hover .portfolio__hidden-description {
	transform: $transform-translateY-0;
	transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
}

.portfolio__box-right {
	margin-right: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}

.portfolio__box-grid:focus {
	box-shadow: $box-shadow-portfolio-boxgrid;
	transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
}

.portfolio__box-grid:hover {
	box-shadow: $box-shadow-portfolio-boxgrid;
	transition: $transition-250ms-cubic-bezier-0_4-0-0_2-1;
}

.portfolio__hidden-box {
	position: relative;
	overflow: hidden;
	width: 370px;
	height: 294px;
}

.portfolio__box-grid-border {
	border-right: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	color: $color-eeeeee;
}

.portfolio__pic-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2em;
	letter-spacing: 0.06em;
	color: $color-212121;
	padding-top: 20px;
	padding-bottom: 4px;
	padding-left: 24px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

.portfolio__pic-subtitle {
	font-size: 16px;
	line-height: 1.9em;
	letter-spacing: 0.03em;
	color: $color-757575;
	padding-bottom: 20px;
	padding-left: 24px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

.portfolio__hidden-description {
	position: absolute;
	width: 370px;
	height: 294px;
	background-color: $color-rgba-33-150-243-0_9;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: $color-ffffff;

	padding-left: 24px;
	padding-top: 49px;
	text-align: left;
	padding-right: 45px;
	top: 0;
	margin: 0;

	transform: $transform-translateY-100;
	will-change: transform;
	transition: transform $transition-250ms-cubic-bezier-0_4-0-0_2-1;
}
